@use '../../styles/consts.scss' as *;
@use '../../styles/colors.scss' as c;

.main {
  @include mobile {
    max-width: $m-body-max-width;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
  }

  margin: 0 auto;
  max-width: $body-max-width;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: $searchbar-margin-top;
  margin-bottom: $searchbar-margin-bottom;  
  
  & > p {
    @include mobile {
      margin: 0;
    }

    margin: 0;
    margin-right: 50px;
  }
  
  .searchBox {
    @include mobile {
      grid-column: 1 / 3;
      margin: 0;
      grid-row: 2;
      padding: 0;
      width: 100%;
    }
    position: relative;
    margin-left: $search-input-logo-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(150px, 80%, 800px);

    button {
      transform: translateX(-90px);
      cursor: pointer;
    }
  }
}

.modal {
  @extend .main;
  @include mobile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    & > section {
      display: none;
    }

    & > p { 
      margin-bottom: 64px;
      margin-top: 111px - 50px;
  
      span /*logo*/ {
        height: 39px;
        width: 139px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 39px;
      }
    }
  }
}