@use '../../styles/consts.scss' as *;
@use '../../styles/colors.scss' as c;

.main {
  position: relative;
  display: flex;
  align-items: center;

  @include mobile {  
    display: block;
    margin-top: 20px;
    width: 100%;
  }

  svg {
    @include mobile {
      width: 16px;
      top: 16px;
      height: 16px;
      position: absolute;
      left: -14px;
      z-index: 1;
    }

    width: 15px;
    height: 15px;
    transform: translateX(30px);
  }
}

.main .input {
  @include mobile {
    padding: 0;
    margin: 0;
    display: inline-block;
    padding-left: $searchbar-padding-left;
    width: calc(100% - $searchbar-padding-left);
    position: relative;
    // resources
    color:c.$logoBlack;
    font-family: Inter;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 16px;
  }
  // display: inline-block;

  padding-left: $searchbar-padding-left;
  padding-right: $searchbar-padding-right;
  width: $searchbar-total-width - $searchbar-padding-left - $searchbar-padding-right;
  border-radius: 10px;
  //width: clamp(300px, 80%, 750px);

  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px -1px #C8CAD1;
  border: none;
  outline: none;
  
  &::placeholder {
    @include mobile {
      height: 16px;
      width: 89px;
      opacity: 0.4;
      color: c.$logoBlack;
      font-family: Inter;
      font-size: 15px;
      letter-spacing: -0.2px;
      line-height: 16px;
    }
    height: 20px;
    opacity: 0.4;
    font-weight: 400;
    color: #1D1D1B;
    font-family: "Inter";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
}