@use '../../styles/consts.scss' as *;

$padding-l: 10px;

.main {
  @include mobile {
    height: 529px;
    width: 343px;
    grid-column: 2;
  }

  grid-row: 1 / 3;
  grid-column: 3;

  box-shadow: 0 1px 2px -1px #C8CAD1;
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 301px;
  border-radius: 10px;
  overflow-x: hidden;
  padding-top: $padding-l;
  padding-left: 5px;
  
  header {
    @include mobile {
      margin-left: 15px;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h2 {
      margin-left: 10px;
      height: 20px;
      width: 92px;
      color: #000000;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.11px;
      line-height: 20px;
    }
  }

  ul.latestNewsList {
    display: flex;
    padding-left: 5px;
    overflow-y: scroll;
    flex-flow: column;
    max-height: 400px;
    
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 100vw;
    }

    &::-webkit-scrollbar-track {
      // background-color: gray;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      height: 68px;
      border-radius: 100vw;
      width: 1px;
      background-color: rgba(0,0,0,0.24)
    }
  }

  footer {
    @include mobile {
      margin-left: 15px;
    }
    
    span {
      display: inline-block;
      cursor: pointer;
      padding-top: 10px;
      height: 20px;
      width: 83px;
      color: #1E71BB;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.1px;
      line-height: 20px;
    }

  }
}