@use '../../styles/consts.scss' as *;

.main {
  width: 100%;
  transition: transform 1s ease;
  background-repeat: no-repeat;
  margin: 0;
  height: 60px;
  background-size: cover;
  background-image: url('../../assets/images/redHeaderBackgound.png');

  .content {
    max-width: $body-max-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > *{
    color: white;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 640px;
    h1 {
      height: 21px;
      font-family: "Inter";
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: -0.14px;
      line-height: 21px;
    }
    
    span {
      height: 21px;
      font-family: "Inter";
      font-size: 14px;
      letter-spacing: -0.12px;
      line-height: 21px;
    }
  }

  .buttons {
    margin-right: 50px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
  };
}

.hidden {
  @extend .main;
  transform: translateY(-60px);
}