$body-max-width: 1095px;

$article-item-height: 252px;
$article-item-width: 321px;

$latest-news-container-height: 529px;
$latest-news-container-width: 321px;

$latest-news-item-height: 59px;
$latest-news-item-width: 281px;

$navigation-bar-width: 63px;
$navigation-bar-height: 429px;
$navigation-bar-right-margin: 25px;

$navigation-bar-item-size: 63px;

$news-gap: 23px;

//searchbar and box
$searchbar-total-width: 725px;
$searchbar-padding-right: 110px;
$searchbar-padding-left: 40px; 
$searchbar-margin-top: 35px;
$searchbar-margin-bottom: 28px;
$search-input-logo-margin: 43px;
//


//
//mobile constants
// 
$m-body-total-width: 375px;
$m-total-page-padding: 32px;
$m-body-max-width: $m-body-total-width - $m-total-page-padding;

@mixin mobile {
  @media (max-width: $m-body-total-width) { @content; }
}
