$body-max-width: 1095px;

$article-item-height: 252px;
$article-item-width: 321px;

$latest-news-container-height: 529px;
$latest-news-container-width: 321px;

$latest-news-item-height: 59px;
$latest-news-item-width: 281px;

$navigation-bar-width: 63px;
$navigation-bar-height: 429px;

$navigation-bar-item-size: 63px;