@use '../../styles/consts.scss' as *;

.main {
  width: 100%;
  overflow-x: hidden;
  h2 {
    height: 24px;
    width: 49px;
    color: #1D1D1B;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.15px;
    line-height: 24px;
  }
  ul {
    @include mobile {
      grid-template-columns: 2fr;
    }
    display: grid;
    padding-left: 0;
    width: 100%;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    gap: $news-gap;

    a {
      width: fit-content;
    }
  }

  @include mobile {
    .mobile {
      width: 200vw;
      //overflow: hidden;
      overflow-x: scroll;
    }

    .f {
      transition: transform 1s ease;
      transform: translateX(0);
    }

    .l {
      transition: transform 1s ease;
      transform: translateX(calc(-100vw - $news-gap - $m-total-page-padding / 4));
    }
  }
}