@use '../../styles//colors.scss' as c;
@use '../../styles/consts.scss' as *;

.main {
  display: inline-block;

  span {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 900;
    height: 39px;
    letter-spacing: 0;
    line-height: 39px;
    width: 139px;
    color: c.$logoBlack;

    @include mobile {
      font-size: 24px;
      line-height: 29px;
    }

    &:first-of-type {
      color: c.$logoRed;
    }
  }
}