@use '../../styles/colors.scss' as c;
@use '../../styles/consts.scss' as *;

$article-h: 252px;
$article-w: 321px;

.item {
  @include mobile {
    grid-column: 1;
  }
}

.item li, li.item {
  @include mobile {
    Width: 343px;
    height: 260px;
  }

  display: flex;
  flex-flow: column;
  list-style: none;
  width: $article-w;
  height: $article-h; 
  background-color: white;
  border-radius: 10px;
  
  article {
    padding: 0 12px;
    height: 100%;
    // padding-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;

    header {

      p {
        padding: 5px 0;
        height: 1rem;
        color: c.$articleCategoryBlue;
        font-family: Inter;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.02px;
        line-height: 1rem;
        margin: 0;
      }
      
      h1 {
        text-overflow: ellipsis;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 200ch;
        
        font-size: 1rem;
        font-weight: 500;
        font-family: Inter;
        letter-spacing: -0.11px;
        color: black;
        line-height: 20px;
      }
    }

    footer{
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      
      span {
        justify-self: flex-start;
        display: inline-block;
        text-decoration: none;
        display: block;
        font-size: 12px;
        justify-self: flex-end;
        align-self: flex-start;
        margin-top: auto;
        color: c.$logoBlack;
      }

      svg {
        max-width: 1rem;
        max-height: 1rem;
      }

      svg.grayFill {
        path {
          fill: c.$iconGray;
        }
      }
    }
  }
  
  img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    min-height: 126px;
    max-height: calc($article-h / 2);
  }
}