@use '../styles/consts.scss' as *;

.main {
  margin: 0 auto;
  width: $body-max-width;
  @include mobile {
    max-width: $m-body-max-width;
  }
}
.content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 25px;
}