@use '../styles/consts.scss' as *;

.main {
  margin: 0 auto;
  max-width: $body-max-width;
  @include mobile {
    max-width: $m-body-max-width;
    width: auto;
    padding: 0 16px;
  }
}
.content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 25px;
}