.main {
  font-size: 0.9rem;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  height: 40px;
  width: 95px;
  border-radius: 6px;
  outline: none;
  border: none;
  color: white;
}