@use '../../styles/colors.scss' as c;

$article-h: 252px;
$article-w: 321px;

.item {
  display: flex;
  flex-flow: column;
  list-style: none;
  width: $article-w;
  height: $article-h; 
  background-color: white;
  border-radius: 10px;

  p {
    padding: 5px 0;
    height: 1rem;
    color: c.$articleCategoryBlue;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.02px;
    line-height: 1rem;
    margin: 0;
  }
  
  article {
    padding: 0 20px;
    height: 100%;
    // padding-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;

    h1 {
      text-overflow: ellipsis;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 200ch;

      font-size: 1rem;
      font-weight: 500;
      font-family: Inter;
      letter-spacing: -0.11px;
      color: black;
      line-height: 20px;
    }

    span {
      display: inline-block;
      text-decoration: none;
      display: block;
      font-size: 12px;
      justify-self: flex-end;
      align-self: flex-start;
      margin-top: auto;
      padding-bottom: 1rem;
      color: c.$logoBlack;
    }
  }
  
  img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    max-height: calc($article-h / 2);
  }
}